.maintenance{
	background-color: #fff;
	width: 91%;
	padding: 15px;
	margin:  0 auto;
	margin-top: 10px;
    min-height: 460px;
}

#datamgr_table{
   width: 100%; 
}
#datamgr_table th,
#datamgr_table tr{
	font-size: 14px;
	text-align: center;
}

.toggle_datamgr {
    /*display: none;*/
    position: absolute;
    right: 10px;
    top: 48%;
    width: 14px;
    height: 23px;
    background: url(../charts/imgs/arrow_right.png) no-repeat;
    cursor: pointer;
}

.toggle_datamgr:hover {
    opacity: .6;
}