#chartPool {
    position: absolute;
    width: 95%;
    right: 36px;
    top: 32px;
    bottom: 2px;
    background-color: #f7f7f7 ;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
}

#toggle_logo {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 14px;
    height: 23px;
    background: url(imgs/arrow_right.png) no-repeat;
    cursor: pointer;
}

#toggle_logo:hover {
    opacity: .6;
}
