#nav {
    background: #4A5591 url(imgs/nav.jpg) no-repeat left;
    /*background-color: #337ab7 ;*/
    background-size: 100%;
}

#title {
    position: relative;
    width: 500px;
    left: 88px;
    top: 24px;
    font-size: 28px;
    color: #fff;
}

#logWin {
    position: absolute;
    right: 34px;
    top: 25px;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    background-color: #337ab7;
}

.logBtn {
    position: absolute;
    font-size: 14px;
    color: #fff;
    top: 9px;
    cursor: pointer;
}

.logBtn:hover {
    opacity: .6;
}

#log {
    left: 18px;
}

#sign_up {
    right: 18px;
}

#log_cut {
    position: relative;
    top: 8px;
    bottom: 8px;
    left: 55px;
    width: 1px;
    height: 20px;
    padding: 0;
    background-color: #bcbcbc;
}
.log-suc,
.login-out{
    position: absolute;
    font-size: 14px;
    color: #fff;
    top: 9px;
    left: 25px;
    cursor: pointer;
}
.login-out{
    display: none;
    top: 38px;   
    z-index: 9999;
}
.login-out:hover{
    cursor: pointer; 
    background-color: #337ab7;
}
/*登录*/

.globalbg {
    display: none;
    position: absolute;
    top: 0;
    background-color: #ccc;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.login-div {
    display: none;
    position: absolute;
    top: 30%;
    left: 38%;
    height: 200px;
    border-radius: 5px;
    padding: 30px 50px;
    background-color: #fff;
    z-index: 9999;
}

.login-div-close,
.register-div-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.login-div-close:hover,
.register-div-close:hover{
    cursor: pointer;
}

.login-div p input ,
.register-div p input{
    margin-left: 15px;
    /*color: #337ab7;*/
    width: 150px;
    height: 25px;
    border: none;
    /*border-bottom:solid 1px #337ab7;*/
}

.login-div p span,
.register-div p span {
    color: #337ab7;
}

.login-btn,
.submit-register-btn {
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 15px;
    margin-left: 68px;
    color: #fff;
    background-color: #337ab7;
}
.login-btn:hover,
.submit-register-btn:hover{
    cursor:pointer;
    background-color: #4A5591;
}
.goto-register {
    position: absolute;
    top: 195px;
    right: 18px;
    color: #337ab7;
    font-size: 10px;
}

.goto-register:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ff;
}

/*注册*/
.register-div{
    display: none;
    position: absolute;
    top: 30%;
    left: 38%;
    height: 280px;
    border-radius: 5px;
    padding: 30px 50px;
    background-color: #fff;
    z-index: 9999;
}
.submit-register-btn{
    width: 150px;
}
.login-inreg-btn{
    width: 150px;
    color: #337ab7;
    border:solid 1px #337ab7;
    background-color: #fff;
}
.login-inreg-btn:hover{
    color:#fff;
}
@media (max-width: 1100px) {
    #title {
        top: 26px;
        font-size: 26px;
    }
}
