
$gFontFamily : "Microsoft YaHei";
/* global colors */
$gBColor:#f5f5f5;  //网页背景色
$cBColor:#3e3843;        //内容背景色
$gTColor:#48c78f;       //主题色
$conColor:#000;             //对比色

$pageColor1:#00CC00;
$pageColor2:#00CC33;
$pageColor3:#00CC66;
$pageColor4:#00CC99;
$pageColor5:#00CCCC;
$pageColor6:#00CCFF;

$gFontSize:16px;

$gMainContentWidth:85%;     //主体内容宽度
